<!DOCTYPE html>
<html lang="es-AR">
    <%-include("../partials/headAdmin")%>
<body>
    <%-include("../partials/headerAdmin")%>
    <%=postHeader%> 
    <main>
        <form action="admin/productos" method="post">
            <div>
                <label for="name">Nombre del producto</label>
                <input type="text" name="name" placeholder="Ej: Te Chino" id="name">
            </div>
            
            <div>
                <label for="price">Precio</label>
                <input type="number" name="price" placeholder="Ej: 500" id="price">
            </div>
            
            <div>
                <label for="description">Descripción del producto</label>
                <textarea name="description" id="description" cols="25" rows="10" placeholder="Descripción detallada del producto"></textarea>
            </div>
            
            <div>
                <label for="coment">Comentario adicional</label>
                <textarea name="coment" id="coment" cols="25" rows="10" placeholder="Comentario adicional sobre el producto"></textarea>
            </div>
            
            <div>
                <label for="image">Imagenes del producto</label>
                <input type="file" name="image" id="image">
            </div>
            
            <div>
                <button type="submit">Crear</button>
            </div>
        </form>

        <div>
            <a href=""><i class="fa-solid fa-circle-arrow-left"></i> volver al listado de productos</a>
        </div>
    </main>

    <%-include("../partials/footerAdmin")%>
</body>
</html>