<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>
    <main class="main-carrito">
        <div class="contenedor">
            <div class="detalle-pedido">
                <section class="section-pedidos">
                    <div class="info-pedido">
                        <p><b>Producto</b></p>
                        <p><b>Precio</b></p>
                        <p><b>Cantidad</b></p>
                        <p><b>Subtotal</b></p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                </section>

                <div class="botones">
                    <button class="boton-rosa">Vaciar carrito</button>
                    <button class="boton-rosa">Seguir Comprando</button>
                </div>
            </div>

            <div class="detalle-subtotal">
                <section class="subtotal-section">
                    <div class="subtotal-div-info">
                        <h2><b>Mi compra</b></h2>
                        <p><b>Subtotal: xxx</b></p>
                        <button class="boton-rosa">medios de pago</button>
                    </div>
                </section>

            </div>

        </div> 

    </main>


    <%-include("../partials/footer")%>
</body>
</html>