<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>
    <%-include("../partials/background")%>
    <main class="main-carrito">
        <div class="contenedor">
            <div class="detalle-pedido">
                <section class="section-pedidos">
                    <div class="info-pedido">
                        <p><b>Producto</b></p>
                        <p><b>Precio</b></p>
                        <p><b>Cantidad</b></p>
                        <p><b>Subtotal</b></p>
                        <p><b>Eliminar</b></p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img src="/img/products/te-negro3.jpg" class="img-carrito-producto">
                        <p class="p__carrito">$350</p>
                        <select name="" id="" class="select-cantidad-de-productos">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                        <p class="p__carrito">$350</p>
                        <button class="delete"><i class="fa-solid fa-trash"></i></button>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img src="/img/products/te-negro3.jpg" class="img-carrito-producto">
                        <p class="p__carrito">$350</p>
                        <select name="" id="" class="select-cantidad-de-productos">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                        <p class="p__carrito">$350</p>
                        <button class="delete"><i class="fa-solid fa-trash"></i></button>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img src="/img/products/te-negro3.jpg" class="img-carrito-producto">
                        <p class="p__carrito">$350</p>
                        <select name="" id="" class="select-cantidad-de-productos">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                        <p class="p__carrito">$350</p>
                        <button class="delete"><i class="fa-solid fa-trash"></i></button>
                    </div>
                    <hr>
                </section>

                <div class="botones">
                    <button class="boton-rosa">Vaciar carrito</button>
                    <button class="boton-rosa">Seguir Comprando</button>
                </div>
            </div>

            <div class="detalle-subtotal">
                <section class="subtotal-section">
                    <div class="subtotal-div-info">
                        <h2><b>Mi compra</b></h2>
                        <p class="p__carrito"><b>Subtotal: $1050</b></p>
                        <button class="boton-rosa">medios de pago</button>
                    </div>
                </section>

            </div>

        </div> 

    </main>


    <%-include("../partials/footer")%>
</body>
</html>