<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>
    <main class="main-carrito">
        <div class="contenedor">
            <div class="detalle-pedido">
                <section class="section-pedidos">
                    <div class="info-pedido">
                        <p>Producto</p>
                        <p>Precio</p>
                        <p>Cantidad</p>
                        <p>Subtotal</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                    <div class="producto-pedido">
                        <img>
                        <p>$350</p>
                        <p>3</p>
                        <p>$400</p>
                    </div>
                    <hr>
                </section>

                <div class="botones">
                    <button>Vaciar carrito</button>
                    <button>Seguir Comprando</button>
                </div>
            </div>

            <div class="detalle-subtotal">
                <section class="subtotal-section">
                    <div class="subtotal-div-info">
                        <h2>Mi compra</h2>
                        <p>Subtotal: xxx</p>
                        <button>medios de pago</button>
                    </div>
                </section>

            </div>

        </div> 

    </main>


    <%-include("../partials/footer")%>
</body>
</html>