<header>
    <div>
        <a href="">
            <img src="/img/Logo.png" alt="" class="img-logo">
        </a>
    </div>
    <nav>
        <div>
            <button class="btn-nav">
                <i class="fa-solid fa-bars-staggered"></i>
            </button>
        </div>
        <ul class="nav-bar">
            <li><a href="#">Pagina Principal</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Usuarios</a></li>
        </ul>
    </nav>
</header>