<header>
    <a href="/admin" class="img-container">
        <img src="/img/Logo.png" alt="" class="img-logo">
    </a>
    <nav>
        <div>
            <button class="btn-nav" id="btn-menu">
                <i class="fa-solid fa-bars-staggered"></i>
            </button>
        </div>
        <ul class="nav-bar" id="menu">
            <li><a href="/">Pagina Principal</a></li>
            <li><a href="/admin/productos">Productos</a></li>
            <li><a href="/admin/users">Usuarios</a></li>
            <li><a href="/admin/categories">Categorías</a></li>
        </ul>
    </nav>
</header>