<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <label for="input-check" class="burguer-menu header-menu">
            <i class="fa-solid fa-bars"></i>
        </label>
        <input type="checkbox" id="input-check">
        
        <nav class="nav-bar">
            <ul class="li-container">
                <li><a href=""><i class="fa-solid fa-piggy-bank"></i>Ofertas</a></li>
                <li><a href=""><i class="fa-brands fa-product-hunt"></i>Productos</a></li>
                <li><a href=""><i class="fa-solid fa-cart-arrow-down"></i>Mis compras</a></li>
                <li><a href=""><i class="fa-solid fa-user"></i>Iniciar Sesión</a></li>
                <li><a href=""><i class="fa-solid fa-database"></i>Mis Datos</a></li>
                <li><a href=""><i class="fa-solid fa-address-card"></i>Registrarse</a></li>
                
            </ul>
        </nav>
        <img src="/img/Logo.png" alt="Logo" class="img-header">
         
        
        <div class="carrito header-menu">
            <i class="fa-solid fa-cart-arrow-down"></i>
        </div>

        
    </header>
    
    <main>

        
        <section>
            <article class="back-img">
                <div class="sup">
                    <p>No te pierdas nuestras super ofertas!</p>
                    <button>
                        <a href="#"> Conocé más!</a>
                    </button>
                </div>
            </article>
            
            <article class="back-grad">
                <div class="container-products">
                    <div class="item-products">
                        <a href="#">
                            <img src="/img/products/te-verde.jpg" alt="Te Verde" class="img-products">
                            <h4>Te Verde</h4>
                            <p>$350</p>
                        </a>
                    </div>
                    <div class="item-products">
                        <a href="#">
                            <img src="/img/products/te-rojo.jpg" alt="Te Rojo" class="img-products">
                            <h4>Te Rojo</h4>
                            <p>$350</p>
                        </a>
                    </div>
                    <div class="item-products">
                        <a href="#">
                            <img src="/img/products/te-negro.jpg" alt="Te Negro" class="img-products">
                            <h4>Te Negro</h4>
                            <p>$350</p>
                        </a>
                    </div>

                </div>

                <div class="medios-pago">
                    <h3>PODES ABONAR CON ESTOS MEDIOS DE PAGO</h3>
                    <div class="tarjeta">
                        <i class="fa-solid fa-credit-card"></i>
                        <p>Tarjetas de crédito o débito</p>
                        <p>Pagá en cuotas sin interés o hacelo al contado con tu tarjeta de débito.</p>
                    </div>

                    <hr>

                    <div class="efectivo">
                        <i class="fa-solid fa-money-bill-1-wave"></i>
                        <p>¿Preferís pagar en efectivo?</p>
                        <p>Cuando compres, te daremos un código para que puedas pagar en cualquier sucursal.</p>
                    </div>
                    <hr>
                    <div class="formulario">
                        <form action="index.html" method="get">
                            <label for="newsletter">
                                Dejanos tu mail para recibir todas las ofertas!
                                <input type="email" name="email" id="newsletter" placeholder="Ingresa tu @mail">
                            </label>
                            <button type="submit"> ENVIAR!</button>
                        </form>
                    </div>
                </div>   

            </article>

        </section>
    </main>

    <footer>
        <article class="logo-footer">
            <img src="/img/Logo.png" alt="logo" id="img-footer">
        </article>

        <article class="media-socials">
            <p>Seguinos!</p>
            <div class="redes">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </article>

        <article class="middle-footer">
            <div class="middle-box middle-box1">
                <p>Atención al cliente</p>
                <a href="#" class="tel">0800-222-1111</a><br>
                <a href="#" class="tel">clientes@tea.com.ar</a>
            </div>

            <div class="middle-box middle-box2">
                
                <a href="#" class="wsp"><img src="/img/wsp.png" alt=""></a>
            </div>
            
        </article>

        <article class="copyright">
            <p>Copyright 2022 - Todos los derechos reservados</p>
        </article>

    </footer>
</body>
</html>