<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea | Tienda de té</title>
    <link rel="shortcut icon" href="/img/Logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/products.css">
    
</head>
<body>
    <header>
        
        <button class="burguer-menu header-menu" id="btn-menu">
            <i class="fa-solid fa-bars"></i>
        </button>
        
        <nav class="nav-bar" id="menu">
            <ul class="li-container">
                <li><a href=""><i class="fa-solid fa-piggy-bank"></i><p>Ofertas</p></a></li>
                <li><a href=""><i class="fa-brands fa-product-hunt"></i><p>Productos</p></a></li>
                <li><a href=""><i class="fa-solid fa-cart-arrow-down"></i><p>Mis compras</p></a></li>
                <li><a href=""><i class="fa-solid fa-user"></i><p class="hidden">Iniciar Sesión</p></a></li>
                <li><a href=""><i class="fa-solid fa-database"></i><p class="hidden">Mis Datos</p></a></li>
                <li><a href=""><i class="fa-solid fa-address-card"></i><p class="hidden">Registrarse</p></a></li>
                
            </ul>
        </nav>
        
        <a href="/" class="logo-container"><img src="/img/Logo.png" alt="Logo" class="img-header"></a>
         
        <div class="carrito header-menu">
            <i class="fa-solid fa-cart-arrow-down"></i>
        </div>

    </header>

    <main>
        <section>
            <article>
                <div class="containerCaja1-2">
                    <div class="primerCaja">
                        <h2>Te Verde en Hebras</h2>
                        <div class="img-container">
                            <img src="/img/products/te verde 2.jpg">
                            <img src="/img/products/te verde 3.jpg">
                        </div>
                        <div class="tercerCaja"> 
                                <select name="" id="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                                <input type="button" value="Comprar ya!">
                                <input type="button" value="Agregar al Carrito">
                        </div>
                    </div>
                        
                    <div class="segundaCaja">
                        <h2>Detalles</h2>
                        <p>-Te verde en Hebras, el favorito de todos, por su frescura y su dejo frutal </p>
                        <p class="precio">$350</p>
                        <p>Ingredientes:</p>
                        <ul>
                            <li>Hebras de Yunnan</li>
                            <li>arandanos rojos</li>
                            <li>petalos de rosas</li>
                            <li>cardamomo</li>
                            <li>con aroma frutal</li>
                        </ul>
                        <p>Excelente mezcla de sabores para disfrutar de un rico te por la tarde!</p>
                    </div>
                </div>

                

                <div class="cuartaCaja">
                    <h2>Comentarios</h2>
                    <div>
                        <p><strong>De: MiguelAngel</strong> <br> muy buen te la verdad!</p><hr>
                        <p><strong>De: GomezAgustin </strong><br> me gusto el te y su presentacion, tambien la puntualidad en la que me llego! lo recomiendo</bt></p><hr>
                        <p><strong>De: AnaliaRossi </strong> <br> qur rico te! lastima el pequeño inconveniente que hubo con la forma de pago pero lo demas todo bien</p><hr>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <a href="/" class="logo-footer">
            <img src="/img/Logo.png" alt="logo" id="img-footer">
        </a>

        <article class="media-socials">
            <p>Seguinos!</p>
            <div class="redes">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </article>

        <article class="middle-footer">
            <div class="middle-box middle-box1">
                <p>Atención al cliente</p>
                <a href="#" class="tel">0800-222-1111</a><br>
                <a href="#" class="tel">clientes@tea.com.ar</a>
            </div>

            <div class="middle-box middle-box2">
                
                <a href="#" class="wsp"><img src="/img/wsp.png" alt=""></a>
            </div>
            
        </article>

        <article class="copyright">
            <p>Copyright 2022 - Todos los derechos reservados</p>
        </article>

    </footer>
    <script src="/js/index.js"></script>
</body>
</html>