/*Background*/


.burbuja{
    border-radius:50%;
    opacity: 0;
    position:absolute;
    
    animation:burbujas 3s linear infinite;
    z-index:-9999;
    width: 5px;
    height: 5px;
  }
  
  .burbuja1{
    animation-duration:3s;
    animation-delay:3s;
    background: #4fc3dc;
    box-shadow: 0 0 0 5px #4fc3dc44,
    0 0 20px #4fc3dc,
    0 0 30px #4fc3dc;
    left:5%
  }
  
  .burbuja2{
    /*width:100px;
    height: 100px;
    background:#F18D9E;*/
    /*width: 30px;
    height:30px;*/
    background: #ff2d75;
    box-shadow: 0 0 0 5px #ff2d7544,
    0 0 20px #ff2d75,
    0 0 30px #ff2d75;
    left:35%;
    animation-duration:3s;
    animation-delay:5s;
  }
  
  .burbuja3{
    /*width:20px;
    height: 20px;
    background:#F18D9E;*/
    /*width: 30px;
    height:30px;*/
    background: #4fc3dc;
    box-shadow: 0 0 0 5px #4fc3dc44,
    0 0 20px #4fc3dc,
    0 0 30px #4fc3dc;
    left:15%;
    animation-duration:1.5s;
    animation-delay:7s;
  }
  
  .burbuja4{
    /*width:50px;
    height: 50px;
    background:#F18D9E;*/
    /*width: 30px;
    height:30px;*/
    background: #ff2d75;
    box-shadow: 0 0 0 5px #ff2d7544,
    0 0 20px #ff2d75,
    0 0 30px #ff2d75;
    left:90%;
    animation-duration:6s;
    animation-delay:3s;
  }
  
  .burbuja5{
    /*width:70px;
    height: 70px;
    background:#E6D72A;*/
    /*width: 30px;
    height:30px;*/
    background: #4fc3dc;
    box-shadow: 0 0 0 5px #4fc3dc44,
    0 0 20px #4fc3dc,
    0 0 30px #4fc3dc;
    left:65%;
    animation-duration:3s;
    animation-delay:1s;
  }
  
  .burbuja6{
    /*width:20px;
    height: 20px;
    background:#5BC8AC;*/
    /*width: 30px;
    height:30px;*/
    background: #ff2d75;
    box-shadow: 0 0 0 5px #ff2d7544,
    0 0 20px #ff2d75,
    0 0 30px #ff2d75;
    left:73%;
    animation-duration:4s;
    animation-delay:5s;
  }
  
  .burbuja7{
    /*width:20px;
    height: 20px;
    background:#FFC4E1;*/
    /*width: 30px;
    height:30px;*/
    background: #4fc3dc;
    box-shadow: 0 0 0 5px #4fc3dc44,
    0 0 20px #4fc3dc,
    0 0 30px #4fc3dc;
    left:50%;
    animation-duration:4s;
    animation-delay:5s;
  }
  
  .burbuja8{
    /*width:101px;
    height: 101px;
    background:#5BC8AC;*/
    /*width: 30px;
    height:30px;*/
    background: #ff2d75;
    box-shadow: 0 0 0 5px #ff2d7544,
    0 0 20px #ff2d75,
    0 0 30px #ff2d75;
    left:57%;
    animation-duration:4s;
    animation-delay:5s;
  }
  
  .burbuja9{
    /*width:65px;
    height: 65px;
    background:#5BC8AC;*/
    /*width: 30px;
    height:30px;*/
    background: #4fc3dc;
    box-shadow: 0 0 0 5px #4fc3dc44,
    0 0 20px #4fc3dc,
    0 0 30px #4fc3dc;
    left:45%;
    animation-duration:5s;
    animation-delay:2s;
  }
  
  .burbuja10{
    /*width:60px;
    height: 60px;
    background:#FFC4E1;*/
    /*width: 30px;
    height:30px;*/
    background: #ff2d75;
    box-shadow: 0 0 0 5px #ff2d7544,
    0 0 20px #ff2d75,
    0 0 30px #ff2d75;
    left:35%;
    animation-duration:3s;
    animation-delay:4s;
  }
  
  .burbuja11{
    /*width:12px;
    height: 12px;
    background:#98DBC6;*/
    /*width: 30px;
    height:30px;*/
    background: #4fc3dc;
    box-shadow: 0 0 0 5px #4fc3dc44,
    0 0 20px #4fc3dc,
    0 0 30px #4fc3dc;
    left:25%;
    animation-duration:3s;
    animation-delay:5s;
  }
  .burbuja12{
    /*width:80px;
    height: 80px;
    left:5%;
    background:#98DBC6;*/
    animation-duration:2s;
    animation-delay:5s;
    /*width: 30px;
    height:30px;*/
    background: #4fc3dc;
    box-shadow: 0 0 0 5px #4fc3dc44,
    0 0 20px #4fc3dc,
    0 0 30px #4fc3dc;
    left:12%
  }
  
  .burbuja13{
    /*width:100px;
    height: 100px;
    background:#F18D9E;*/
    /*width: 30px;
    height:30px;*/
    background: #ff2d75;
    box-shadow: 0 0 0 5px #ff2d7544,
    0 0 20px #ff2d75,
    0 0 30px #ff2d75;
    left:25%;
    animation-duration:5s;
    animation-delay:2s;
  }
  
  .burbuja14{
    /*width:20px;
    height: 20px;
    background:#F18D9E;*/
    /*width: 30px;
    height:30px;*/
    background: #4fc3dc;
    box-shadow: 0 0 0 5px #4fc3dc44,
    0 0 20px #4fc3dc,
    0 0 30px #4fc3dc;
    left:99%;
    animation-duration:1s;
    animation-delay:5s;
  }
  
  .burbuja15{
    /*width:50px;
    height: 50px;
    background:#F18D9E;*/
    /*width: 30px;
    height:30px;*/
    background: #ff2d75;
    box-shadow: 0 0 0 5px #ff2d7544,
    0 0 20px #ff2d75,
    0 0 30px #ff2d75;
    left:87%;
    animation-duration:6s;
    animation-delay:3s;
  }
  
  .burbuja16{
    /*width:70px;
    height: 70px;
    background:#E6D72A;*/
    /*width: 30px;
    height:30px;*/
    background: #4fc3dc;
    box-shadow: 0 0 0 5px #4fc3dc44,
    0 0 20px #4fc3dc,
    0 0 30px #4fc3dc;
    left:56%;
    animation-duration:1s;
    animation-delay:3s;
  }
  
  .burbuja17{
    /*width:20px;
    height: 20px;
    background:#5BC8AC;*/
    /*width: 30px;
    height:30px;*/
    background: #ff2d75;
    box-shadow: 0 0 0 5px #ff2d7544,
    0 0 20px #ff2d75,
    0 0 30px #ff2d75;
    left:37%;
    animation-duration:5s;
    animation-delay:4s;
  }
  
  .burbuja18{
    /*width:20px;
    height: 20px;
    background:#FFC4E1;*/
    /*width: 30px;
    height:30px;*/
    background: #4fc3dc;
    box-shadow: 0 0 0 5px #4fc3dc44,
    0 0 20px #4fc3dc,
    0 0 30px #4fc3dc;
    left:8%;
    animation-duration:5s;
    animation-delay:4s;
  }
  
  .burbuja19{
    /*width:101px;
    height: 101px;
    background:#5BC8AC;*/
    /*width: 30px;
    height:30px;*/
    background: #ff2d75;
    box-shadow: 0 0 0 5px #ff2d7544,
    0 0 20px #ff2d75,
    0 0 30px #ff2d75;
    left:75%;
    animation-duration:8s;
    animation-delay:4s;
  }
  
  .burbuja20{
    /*width:65px;
    height: 65px;
    background:#5BC8AC;*/
    /*width: 30px;
    height:30px;*/
    background: #4fc3dc;
    box-shadow: 0 0 0 5px #4fc3dc44,
    0 0 20px #4fc3dc,
    0 0 30px #4fc3dc;
    left:81%;
    animation-duration:2s;
    animation-delay:5s;
  }
  
  .burbuja21{
    /*width:60px;
    height: 60px;
    background:#FFC4E1;*/
    /*width: 30px;
    height:30px;*/
    background: #ff2d75;
    box-shadow: 0 0 0 5px #ff2d7544,
    0 0 20px #ff2d75,
    0 0 30px #ff2d75;
    left:53%;
    animation-duration:4s;
    animation-delay:3s;
  }
  
  .burbuja22{
    /*width:12px;
    height: 12px;
    background:#98DBC6;*/
    /*width: 30px;
    height:30px;*/
    background: #4fc3dc;
    box-shadow: 0 0 0 5px #4fc3dc44,
    0 0 20px #4fc3dc,
    0 0 30px #4fc3dc;
    left:15%;
    animation-duration:5s;
    animation-delay:3s;
  }
  
  @keyframes burbujas{
    0%{
      bottom:0;
      opacity:0;
      display: none;
    }
    
    30%{
      opacity: .5; 
    }
    50%{
      opacity: .8; 
    }
    100%{
      bottom:100vh;
      opacity: .0; 
      
    }
  }