/* .main-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1000px;
    /* width: 1000px; 
} */

/* .section-pedidos{
    display: flex;
    flex-direction: row;
    gap: 200px;
    margin: 30px;
    width: 50%;
} */

/* .carritouwu{
    display: flex;
    flex-direction: column;
    margin: 10px;
} */

 /* .listaCarrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  */

/* .listaCarrito div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
} */

/* 
.tdClass{
   
}  */