#mainChange {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    opacity: 0;
    transform: scale(0.7);
    height:76vh;
}

#mainChange.active{
    animation: aparicionChange1 .2s ease .2s forwards;
}

@keyframes aparicionChange1 {
    from{
        transform: scale(0.7);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
    
}

#primerDivChange {
    background-color: #fbd8dc;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 30px;
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1.5s;
}
#primerDivChange2 {
    background-color: #fbd8dc;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 30px;
    transform: scale(1);
    display: none;
    transition: all 1.5s;
}
#primerDivChange3 {
    background-color: #fbd8dc;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 30px;
    transform: scale(1);
    display: none;
    transition: all 1.5s;
}

#segundoDiv {
    margin: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#segundoDiv span{
    color: red;
}

#containerChange {
    height: 30%;
    width: 30% ;
    margin: 100px;
    display: flex;
    background-color: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.butonVe button{
   
   
    background-color: #fbd8dc;
    width: 130px;
    margin-left: 10px;
    border: 2px solid var(--rosaOscuro);
    box-shadow: none;
    border-radius: 5px;
}

.botonChange {
    background-color: none;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.botonChange button{
    background-color: #fbd8dc;
    width: 130px;
    margin: 10px;
    box-shadow: 0px 1px 0px 2px gray;
    border: none
}

.botonChange button:hover {
    width: 140px;
}


#primerDivChange:hover{
    
    transform: scale(1.05);
    transition: all 1.5s;
}
#primerDivChange2:hover{
    
    transform: scale(1.05);
    transition: all 1.5s;
}
#primerDivChange3:hover{
    
    transform: scale(1.05);
    transition: all 1.5s;
}



@media (max-width: 1350px){
    .butonVe button{
        width: 120px;
        margin-left: 10px;
    }
    
}
@media (max-width: 1317px){
    .butonVe button{
        width: 110px;
        margin-left: 10px;
    }
    
}
@media (max-width: 1283px){
    .butonVe button{
        width: 100px;
        margin-left: 10px;
    }
    
}
@media (max-width: 1250px){
    .butonVe button{
        width: 90px;
        margin-left: 7px;
    }
    
}
@media (max-width: 1207px){

    .formChange{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .butonVe button{
        width: 80px;
        margin-left: 6px;
        margin-top: 6px;
    }

    #segundoDiv {
        margin: 15px;
        height: 50px;
    }
}

@media (max-width: 1054px){
    #segundoDiv  h2{
      font-size: 18px;
    }
}
@media (max-width: 1024px){
    #mainChange{
      height: 670px;
    }
}

@media (max-width: 1015px){
    .botonChange {
       display: flex;
       justify-content: center;
       align-items: center;
    }
} 

@media (max-width: 966px){
    #segundoDiv  h2{
        font-size: 16px;
      }
}

@media (max-width: 700px){
    #mainChange {
        height: 450px;
    }
}
@media (max-width: 630px){
    #mainChange {
        height: 250px;
    }
}

@media (max-width: 455px){
    #primerDivChange {
        width: 300px;
    }
}
@media (max-width: 320px){
    #primerDivChange {
        width: 250px;
    }
}
