#mainChange {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
}

#primerDivChange {
    background-color: #fbd8dc;
    margin: 10px;
    border-radius: 6%;
    box-shadow: 30px;
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#primerDivChange2 {
    background-color: #fbd8dc;
    margin: 20px;
    border-radius: 6%;
    box-shadow: 30px;
    transform: scale(1);
    display: none;
}
#primerDivChange3 {
    background-color: #fbd8dc;
    margin: 20px;
    border-radius: 6%;
    box-shadow: 30px;
    transform: scale(1);
    display: none;
}

#segundoDiv {
    margin: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#segundoDiv span{
    color: red;
}

#containerChange {
    height: 30%;
    width: 30% ;
    margin: 100px;
    display: flex;
    background-color: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.butonVe button{
    border: none;
    box-shadow: 0px 1px 0px 2px gray;
    background-color: #fbd8dc;
    width: 130px;
    margin-bottom: 10px;
}

.botonChange {
    background-color: none;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.botonChange button{
    background-color: #fbd8dc;
    width: 130px;
    margin: 10px;
    box-shadow: 0px 1px 0px 2px gray;
    border: none;
}

.botonChange button:hover {
    width: 140px;
}


#primerDivChange:hover{
    width: 400px;
    transform: scale(1.1);
}
#primerDivChange2:hover{
    width: 400px;
    transform: scale(1.1);
}
#primerDivChange3:hover{
    width: 400px;
    transform: scale(1.1);
}


@media (max-width: 1015px){
    .botonChange {
       display: flex;
       justify-content: center;
       align-items: center;
    }
} 

@media (max-width: 700px){
    #mainChange {
        height: 600px;
    }
}

