@import url("style.css");

.back-grad__profile{
    /*width: 100%;
    
    background: rgb(91,200,172);
    background: linear-gradient(0deg, rgba(91,200,172,1) 0%, rgba(255,255,255,0.5) 100%); */
    background-image: url("/img/back-img.png");
    background-size:contain;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 77.5vh;
    
}



.profile__body{
    width:70%;
    opacity: 0.7;
    height: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    opacity: 0;
    transform: scale(0.7);
}
.profile__body.active{
    animation: aparicionRA .2s ease .2s forwards;
}

@keyframes aparicionRA {
    from{
        transform: scale(0.7);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
    
}

.profile__avatar,.profile__data{
    box-shadow: 0 0 4px black;
    height: 100%;
    
}


.profile__avatar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.profile__avatar div div{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.profile__avatar div img{
    width: 150px;
    border-radius: 10%;
    box-shadow: 2px 2px 10px black;
}

.profile__data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap:20px;
    width: 50%;
    margin-left: 10px;
}

.profile__data__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 35px;
}

.profile__data__h5{
    
    font-size: 20px;
}

.profile__data__p{
    font-size: 25px;
}

.btn__profile{
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 1.5rem;
    text-decoration: none;
}

.btn__profile:hover{
    border: none;
    box-shadow: none;
    color: red;
}

@media (max-width: 1200px){
    .profile__data{
        margin-left: none;
    }

    .profile__data__container{
        margin-left: 17px;
    }
}

@media (max-width: 1020px){
    .profile__data__h5{
    
        font-size: 16px;
    }

    .profile__data__p{
        font-size: 20px;
    }
    
}
@media (max-width: 830px){
    .profile__data__h5{
    
        font-size: 14px;
    }

    .profile__data__p{
        font-size: 16px;
    }
    
}
@media (max-width: 680px){
    .profile__data__h5{
    
        font-size: 12px;
    }

    .profile__data__p{
        font-size: 14px;
    }
    
}
@media (max-width: 629px){
    .profile__body{
        flex-wrap: nowrap;
    }
}
@media (max-width: 612px){
    .profile__data__h5{
    
        font-size: 10px;
    }

    .profile__data__p{
        font-size: 12px;
    }
}
@media (max-width: 580px){
    .profile__data__container{
        margin-left: 10px;
    }
}
@media (max-width: 576px){
    .profile__body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
       
    }

    .profile__avatar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        align-items: center;
        width: 100%;
        height: 80%;
    }

    .profile__data{
        width: 100%;
        height: 80%;
        margin-left: 0px;
        margin-bottom: 20px;
        justify-content: flex-start;
        align-items: stretch;
    }


    .profile__data__container{
        margin: 10px;
    }
    .back-grad__profile{
        height: auto;
    }
}