

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --verde: #98DBC6;
    --gris: #7C7E82;

    --grisClaro: #E5E5E5;
    --grisOscuro: #7C7E82;
    --rosaClaro: #FFC4E1;
    --rosaOscuro: #F18D9E;
    --verdeClaro: #98DBC6;
    --verdeOscuro: #5BC8AC;
    --amarillo: #E6D72A;
    --negro: #000;
    --blanco: #fff;

    --fontPrincipal: 'Baloo 2';
    --fontSecundaria: 'Poppins', sans-serif;
    
}

html{
    font-size: 62.5%;
    outline: none;
}

body{
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

ul{
    margin-bottom: 0;
}

p{
    margin-bottom: 0;
}
/*************
    HEADER!
*************/

header{
    background-color: #ffffff;
    width: 100%;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top:0;
    z-index: 9999;
    
}

button#btn-menu{
    background:none;
    border: none;
}

button#btn-menu:hover{
    border:none;
    box-shadow: none;
}

.header-menu i:hover{
    padding:7px;
    background-color: #FFC4E1;
    border-radius: 50%;
    margin:0;
}

.header-menu i,
.header-menu a i{
    font-size: 3rem;
    color:var(--verde);
    text-shadow: 0 0 2px var(--gris);
    cursor: pointer;
    transition: 200ms all;
}


nav.nav-bar{
    display: none;
    align-items:flex-start;
    justify-content: center;
    width: 250px;
    height: 70vh;
    
    background-color: #FFC4E1;
    position: absolute;
    top: 73px;
    left:0; 
    
    padding: 5px;
    border-radius: 5px;
    
    
}

ul.li-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

}
ul.li-container li{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    
}

ul.li-container li a{
    
    color: #000;
    display: flex;
    padding: 5px;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    justify-content: space-between;
    user-select: none;
    transition: 450ms all;
    
   
}

ul.li-container li a:hover{
    background-color: var(--verde);
    border-radius: 5px;
    
}



ul.li-container li a i{
    
    color: var(--verde);
    text-shadow: 0 0 2px var(--gris);
}

nav.active{
    display: flex;
}


.img-header{
    width: 100%;
    max-width: 83px;
    margin: 0;
}

a.logo-container{
    width: 23%;
    max-width: 83px;
}
/*Correcciones bootstrap*/
.carousel-control-next:hover,
.carousel-control-prev:hover{
    background:none;
    border:none;
    box-shadow: none;
}

.carousel-indicators{
    margin-bottom: .5rem;
}

.carousel-indicators button:hover{
    background:none;
    border:none;
    box-shadow: none;
}

.carousel-indicators button{
    color: #000;
}
/***********
    MAIN!
  Productos
***********/


.back-grad{
    /*width: 100%;
    
    background: rgb(91,200,172);
    background: linear-gradient(0deg, rgba(91,200,172,1) 0%, rgba(255,255,255,0.5) 100%); */
    background-image: url("/img/back-img.png");
    background-size:contain;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container-products{
    width: 100%;
    max-width: 1024px;
    padding: 1.6rem;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.container-products h3{
    width: 100%;
    display:inline-block;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 15px 0;
    user-select: none;
}
.item-products{
    width: 30%;
    max-width: 200px;
    min-width: 236px;
    min-height: 277px;
    padding: 1rem;
    background: #FFFFFF;
    border: .1rem solid #7C7E82;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    font-family: "Baloo 2";
    text-align: center;
    margin: 5px;
}

.item-products a{
    display: flex;
    
    flex-direction: column;
  justify-content: space-between;
    align-items: center;
    height: 270px;
    
}

.item-products a div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 32%;
}

.img-products{
    width: 70%;
    border-radius: 50%;
    border: 0.1rem solid #7C7E82;
}



.item-products h4{
    color:#000000;
    font-size: 2rem;
    font-family: 'Baloo 2';
}

.item-products p{
    color:#000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    transition: all 450ms;
}

.item-products:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.item-products p.actual:hover{
    color:var(--verde);
    font-size: 2rem;
    
}

.item-products p.offer{
    font-size: 1rem;
    color: var(--gris);
    text-decoration:line-through;
}
/*MAIN
MEDIOS DE PAGO*/

.medios-pago{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 16px;
}

.medios-pago h3{
    font-size: 1.8rem;
    width: 100%;
}

.medios-pago div{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 350px;
    min-width: 250px;
}

div.medios-pago div i{
    transform: rotate(-10deg);
    font-size: 2.8rem;
    margin: 5px;
}

div.medios-pago div.tarjeta i{
    color: #FFC4E1;
    
    -webkit-text-stroke:#000000 0.5px;
}

div.medios-pago div.efectivo i{
    color: #5BC8AC;
    -webkit-text-stroke:#000000 0.5px;
}



.medios-pago div.formulario{
    font-size: 1.4rem;
    margin: 20px 0px 20px;
    width: 100%;
    max-width: none;
}

.medios-pago div.formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.medios-pago div.formulario form label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.medios-pago div.formulario form input{
    width:100%;
    max-width: 300px;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 5px;
    border:none;
    padding: 3px;
    outline: none;
}

.medios-pago div.formulario form input:focus{
    border: 1px solid #FFC4E1;
    box-shadow: 0px 0px 4px #FFC4E1;
}

.medios-pago div.formulario form button{
    background-color: transparent;
    width: 150px;
    border: 2px solid;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 16px;
    color: var(--negro);
    outline: none;
    border-color: var(--rosaClaro);
    box-shadow: 0 0 40px 40px var(--rosaClaro) inset;
    transition: box-shadow 0.1s ease-in-out;
    
}

.medios-pago div.formulario form button:hover{
    box-shadow: 0 0 10px 0 var(--rosaClaro) inset, 0 0 10px 4px var(--rosaClaro);
}



/*FOOTER*/
footer{
    display:flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #c5c5c5;
    width:100%;
}

footer a.logo-footer{
    width: 25%;
    max-width: 100px;
    margin:20px;
    display: flex;
    justify-content: center;
}

footer a.logo-footer img#img-footer{
    width: 100%;
    max-width: 90px;
}

footer article.media-socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer article.media-socials p{
    margin-bottom:10px;
}

footer article.media-socials div.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

footer article.media-socials div.redes a{
    color: #000;
    padding: 5px;
    font-size: 20px;
    transition: all 450ms;
}

footer article.media-socials div.redes a:hover{
    background-color: #FFC4E1;
    border-radius: 50%;
}
/*----3er div----*/
footer article.middle-footer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    max-width: 100px;
    min-width: fit-content;
    align-items: center;
}

footer article.middle-footer div.middle-box{
    font-size: 1.6rem;
    color:#000;
    display: flex;
    flex-direction: column;
}

footer article.middle-footer div.middle-box1{
    margin: 5px;
}

footer article.middle-footer div.middle-box1 a{
    color: #000;
}

footer article.middle-footer div.middle-box2 a img{
    position:fixed;
    right:25px;
    bottom:45px;
    width: 40px;
    
    
}




footer article.copyright{
    width: 100%;
}
footer article.copyright p{
    font-size: 12px;
}

@media (min-width:661px){
    nav.nav-bar{
        width:100%;
        left:-100%;
    }

    ul.li-container li a{
        width: 30%;
    }

    footer{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    footer article.middle-footer{
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        
    }

    footer article.media-socials{
        order:1;
        margin:0 20px;
    }

    footer article.copyright{
        order:2;
    }
}

@media (min-width:800px){
    .header-menu{
        display: none;
    }

    nav.nav-bar{
        display: flex;
        position:relative;
        width:60%;
        height: 73px;
        background-color: white; 
        left: auto; 
        top: auto;
        order:1;
        padding:0;
        align-items: center;      
    }

    ul.li-container{
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
    }

    ul.li-container li{
        margin:0;
        width: fit-content;
        align-items: center;
        
    }

    ul.li-container li a{
        font-size: 14px;
        width: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    ul.li-container li a i{
        padding: 0 5px;
    }

    

    
}

@media (min-width:1102px){
    ul.li-container li a{
        flex-direction: row;
        
    }
}
