<!DOCTYPE html>
    <%-include("../partials/headAdmin")%>
<body>
    <%-include("../partials/headerAdmin")%>

    <main class="addP">

        <h2><%=postHeader%></h2>
        <form action="/admin/categorias" method="POST">
            <div class="inp-cont">
                <label for="name">Nombre de la Categoría</label>
                <input type="text" name="name" placeholder="Ej: Accesorios" id="name">
            </div>

            <div class="inp-cont">
                <button type="submit" class="btn-add">Crear</button>
            </div>
        </form>

        <div class="backTo">
            <a href="/admin"><i class="fa-solid fa-circle-arrow-left"></i> Volver</a>
        </div>
    </main>

    <%-include("../partials/footerAdmin")%>
</body>
</html>