<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea | Tienda de té</title>
    <link rel="shortcut icon" href="/img/Logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>

    <header>
        
        <button class="burguer-menu header-menu" id="btn-menu">
            <i class="fa-solid fa-bars"></i>
        </button>
        
        <nav class="nav-bar" id="menu">
            <ul class="li-container">
                <li><a href=""><i class="fa-solid fa-piggy-bank"></i><p>Ofertas</p></a></li>
                <li><a href=""><i class="fa-brands fa-product-hunt"></i><p>Productos</p></a></li>
                <li><a href=""><i class="fa-solid fa-cart-arrow-down"></i><p>Mis compras</p></a></li>
                <li><a href="login.html"><i class="fa-solid fa-user"></i><p class="hidden">Iniciar Sesión</p></a></li>
                <li><a href=""><i class="fa-solid fa-database"></i><p class="hidden">Mis Datos</p></a></li>
                <li><a href="register.html"><i class="fa-solid fa-address-card"></i><p class="hidden">Registrarse</p></a></li>
                
            </ul>
        </nav>
        
        <a href="/" class="logo-container"><img src="/img/Logo.png" alt="Logo" class="img-header"></a>
         
        <div class="carrito header-menu">
            <i class="fa-solid fa-cart-arrow-down"></i>
        </div>

    </header>
    
    <main>

        
        <section>
            <!--Queda como segunda opción-->
            <!--
            <article class="back-img">
                <div class="sup">
                    <p>No te pierdas nuestras super ofertas!</p>
                    <button>
                        <a href="#"> Conocé más!</a>
                    </button>
                </div>
            </article>
        -->

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/img/banner1.png" class="d-block w-100" alt="Promo1">
              </div>
              <div class="carousel-item">
                <img src="/img/banner2.png" class="d-block w-100" alt="Promo2">
              </div>
              <div class="carousel-item">
                <img src="/img/banner3.png" class="d-block w-100" alt="Promo3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
            
            <article class="back-grad">

                
                
                <div class="container-products">
                    <h3>EXTRA SALE!</h3>
                    <div class="item-products">
                        <a href="http://localhost:3030/productTeVerde">
                            <img src="/img/products/te-verde.jpg" alt="Te Verde" class="img-products">
                            <h4>Te Verde</h4>
                            <p class="offer">$500</p>
                            <p class="actual">$350</p>
                        </a>
                    </div>
                    <div class="item-products">
                        <a href="http://localhost:3030/productTeVerde">
                            <img src="/img/products/te-rojo.jpg" alt="Te Rojo" class="img-products">
                            <h4>Te Rojo</h4>
                            <p class="offer">$500</p>
                            <p class="actual">$350</p>
                        </a>
                    </div>
                    <div class="item-products">
                        <a href="http://localhost:3030/productTeVerde">
                            <img src="/img/products/te-negro.jpg" alt="Te Negro" class="img-products">
                            <h4>Te Negro</h4>
                            <p class="offer">$500</p>
                            <p class="actual">$350</p>
                        </a>
                    </div>
                    <div class="item-products">
                        <a href="http://localhost:3030/productTeVerde">
                            <img src="/img/products/cuchara1.jpg" alt="Mielera" class="img-products">
                            <h4>Mielera</h4>
                            <p class="offer">$150</p>
                            <p class="actual">$90</p>
                        </a>
                    </div>

                    <h3>PRODUCTOS DESTACADOS</h3>
                    <div class="item-products">
                        <a href="http://localhost:3030/productTeVerde">
                            <img src="/img/products/infusor.jpg" alt="Infusor" class="img-products">
                            <h4>Infusor Artesanal</h4>
                            <p class="actual">$720</p>
                        </a>
                    </div>
                    <div class="item-products">
                        <a href="http://localhost:3030/productTeVerde">
                            <img src="/img/products/otra cuchara.jpg" alt="Cucharita" class="img-products">
                            <h4>Cucharita</h4>
                            <p class="actual">$80</p>
                        </a>
                    </div>
                    <div class="item-products">
                        <a href="http://localhost:3030/productTeVerde">
                            <img src="/img/products/pavita 2.jpg" alt="Tetera" class="img-products">
                            <h4>Tetera Artesanal</h4>
                            <p class="actual">$1980</p>
                        </a>
                    </div>
                    <div class="item-products">
                        <a href="http://localhost:3030/productTeVerde">
                            <img src="/img/products/pavita 3.jpg" alt="Te Negro" class="img-products">
                            <h4>Juego de tetera</h4>
                            <p class="actual">$4600</p>
                        </a>
                    </div>

                </div>

                <div class="medios-pago">
                    <h3>PODES ABONAR CON ESTOS MEDIOS DE PAGO</h3>
                    <div class="tarjeta">
                        <i class="fa-solid fa-credit-card"></i>
                        <p>Tarjetas de crédito o débito</p>
                        <p>Pagá en cuotas sin interés o hacelo al contado con tu tarjeta de débito.</p>
                    </div>

                    <hr>

                    <div class="efectivo">
                        <i class="fa-solid fa-money-bill-1-wave"></i>
                        <p>¿Preferís pagar en efectivo?</p>
                        <p>Cuando compres, te daremos un código para que puedas pagar en cualquier sucursal.</p>
                    </div>
                    
                    <div class="formulario">
                        <form action="index.html" method="get">
                            <label for="newsletter">
                                Dejanos tu mail para recibir todas las ofertas!
                                <input type="email" name="email" id="newsletter" placeholder="Ingresa tu @mail">
                            </label>
                            <button type="submit" id="newsletter"> ENVIAR!</button>
                        </form>
                    </div>
                </div>   

            </article>

        </section>
    </main>
    <footer>
        <a href="/" class="logo-footer">
            <img src="/img/Logo.png" alt="logo" id="img-footer">
        </a>

        <article class="media-socials">
            <p>Seguinos!</p>
            <div class="redes">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </article>

        <article class="middle-footer">
            <div class="middle-box middle-box1">
                <p>Atención al cliente</p>
                <a href="#" class="tel">0800-222-1111</a><br>
                <a href="#" class="tel">clientes@tea.com.ar</a>
            </div>

            <div class="middle-box middle-box2">
                
                <a href="#" class="wsp"><img src="/img/wsp.png" alt=""></a>
            </div>
            
        </article>

        <article class="copyright">
            <p>Copyright 2022 - Todos los derechos reservados</p>
        </article>

    </footer>
    <script src="/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>