<!DOCTYPE html>
<html lang="en">
<%-include ("./partials/head")%> 

<body class="back-grad">

   <%-include("./partials/header")%> 
    <main class="login" >
        <section class="lg-container register">
            <h2>Iniciar sesion</h2>
            <hr>
            <form action="" method="">
                <div class="input-container">
                    <input type="email" class="input-style" name="email" placeholder="Ingrese su email">
                    <span class="error-message">Debe ingresar su email</span>
                </div>
                <div class="input-container">
                    <input type="password" class="input-style" name="pass" placeholder="Ingrese su contraseña">
                    <span class="error-message">Debe ingresar su contraseña</span>
                </div>
                
            
                <div class="btn-container">
                    <span class="error-message">Hubo un error en el ingreso</span>
                    <button type="submit" class="btn btn-submit">Ingresar</button>
                </div>
                <span id="olvidoContrasenia"><a  href="">¿Olvidaste tu contraseña?</a></span>
                <span id="center"><a  href="register.html">¿No tenes cuenta?Registrate</a></span>
            </form>
    
        </section>
    </main>               
    
    <%-include("./partials/footer")%>
   
</body>
</html>