<header>
        
    <button class="burguer-menu header-menu" id="btn-menu">
        <i class="fa-solid fa-bars"></i>
    </button>
    
    <nav class="nav-bar" id="menu">
        <ul class="li-container">
            <li><a href=""><i class="fa-solid fa-piggy-bank"></i><p>Ofertas</p></a></li>
            <li><a href=""><i class="fa-brands fa-product-hunt"></i><p>Productos</p></a></li>
            <li><a href="/carrito"><i class="fa-solid fa-cart-arrow-down"></i><p>Mis compras</p></a></li>
            <li><a href="/login"><i class="fa-solid fa-user"></i><p class="hidden">Iniciar Sesión</p></a></li>
            <li><a href=""><i class="fa-solid fa-database"></i><p class="hidden">Mis Datos</p></a></li>
            <li><a href="/register"><i class="fa-solid fa-address-card"></i><p class="hidden">Registrarse</p></a></li>
            
        </ul>
    </nav>
    
    <a href="/" class="logo-container"><img src="/img/Logo.png" alt="Logo" class="img-header"></a>
     
    <div class="carrito header-menu">
        <a href="/carrito"><i class="fa-solid fa-cart-arrow-down"></i></a>
    </div>

</header>