@import url("../admin/admin.css");

main.addP{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Baloo 2";
}

main h2{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

main form{
    width:100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    max-width: 550px;
}

.inp-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.inp-cont input,
.inp-cont textarea{
    padding: 2px;
    border: 1px solid var(--negro);
    border-radius: 3px;
    outline:none;
    width: 100%;
}

.inp-cont input:focus,
.inp-cont textarea:focus{
    border: 2px solid var(--rosaOscuro)
}

.inp-cont textarea{
    width: 100%;
}

.file-cont{
    display: flex;
    justify-content: center;
    text-align: center;
}

.file-cont input[type="file"]{
    border:none;
    display:none;
}

.file-cont label{
    cursor: pointer;
    background-color: var(--rosaClaro);
    width: 60%;
    margin:0 auto;
    padding: 10px;
    border-radius: 3px;
}

.file-cont label:hover{
    background-color: var(--rosaOscuro);
}

.backTo{
    width: 100%;
    text-align: center;
}

.backTo a{
    color: var(--negro);
    text-decoration:none;
}