<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body>

    <%-include("../partials/header")%>


  

    <main class="forms">
        <section class="form-container register">
            <h2>Registrate</h2>
            <hr>
            <form action="" method="">
                <div class="input-container">
                    <input type="email" class="input-style" name="email" placeholder="Ingrese su email">
                    <span class="error-message">Debe ingresar su email</span>
                </div>
                <div class="input-container">
                    <input type="password" class="input-style" name="pass" placeholder="Ingrese una contraseña">
                    <span class="error-message">Debe ingresar su contraseña</span>
                </div>
                <div class="input-container">
                    <input type="password" class="input-style" name="pass2" placeholder="Confirmar contraseña">
                    <span class="error-message">Debe re-ingresar su contraseña</span>
                </div>
                <div class="input_check-container">
                    <label for="recordar"> Acepto los <a href="">términos y condiciones</a> <input type="checkbox" name="terms" id="recordar"></label>
                    <span class="error-message">Debe aceptar los términos y condiciones</span>
                </div>
                <div class="btn-container">
                    <span class="error-message">Hubo un error en el registro</span>
                    <button type="submit" class="btn btn-submit">Registrate</button>
                </div>
                <span><a href="login.html">¿Ya tenes cuenta?Ingresá</a></span>
            </form>
    
        </section>
    </main>
    <%-include("../partials/footer")%>

 

    
</body>
</html>